<section id="contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Noch Fragen?</h2>
                <img src="img/katja-mittag.jpg" />
                <h3>
                  Katja Mittag und das Support-Team von betterplace.org
                </h3>
                <!-- http://www.cha4mot.com/t_mailto.html -->
                <a href="mailto:support@betterplace.org?Subject=Kontakt%20zu%20betterplace.org%20direkt%20%28Kontakt-Code%20A1%29&Body=%0A%0A%0A%28Kontakt-Code%20A1%29" class="btn btn-primary btn-lg">E-Mail schreiben</a>
            </div>
        </div>
    </div>
</section>
