<section id="contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Noch Fragen?</h2>
                <img src="img/katja-mittag.jpg" />
                <p>
                  Katja Mittag<br />
                  <span class="text-muted">+49 30 76 76 44 88 - 47</span>
                </p>
                <a class="btn btn-primary btn-lg">E-Mail schreiben</a>
            </div>
        </div>
    </div>
</section>
