<section id="contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Noch Fragen?</h2>
                <img src="img/katja-mittag.jpg" />
                <p>
                  Katja Mittag und das Support-Team von betterplace.org
                </p>
                <a href="mailto:support+direktinteresse@betterplace.org" class="btn btn-primary btn-lg">E-Mail schreiben</a>
            </div>
        </div>
    </div>
</section>
