<section id="survey" style="padding-bottom: 0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                  Trage Dich ein
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
<!-- xs -->
<iframe class="hidden-sm hidden-md hidden-lg" width="100%" height="1700" frameborder="0" allowtransparency="true" src="https://de.research.net/r/spendenformular-direkt-interesse?quelle=landingpage-xs"></iframe>
<!-- sm -->
<iframe class="hidden-xs hidden-md hidden-lg" width="100%" height="1400" frameborder="0" allowtransparency="true" src="https://de.research.net/r/spendenformular-direkt-interesse?quelle=landingpage-sm"></iframe>
<!-- md -->
<iframe class="hidden-xs hidden-sm hidden-lg" width="100%" height="1400" frameborder="0" allowtransparency="true" src="https://de.research.net/r/spendenformular-direkt-interesse?quelle=landingpage-md"></iframe>
<!-- lg -->
<iframe class="hidden-xs hidden-sm hidden-md" width="100%" height="1400" frameborder="0" allowtransparency="true" src="https://de.research.net/r/spendenformular-direkt-interesse?quelle=landingpage-lg"></iframe>
                <!-- <iframe width="100%" height="1300" frameborder="0" allowtransparency="true" src="https://surveymonkey.com/r/5P8K8GF"></iframe> -->
                <!-- <script>(function(t,e,o,s){var n,c,a;t.SMCX=t.SMCX||[],e.getElementById(s)||(n=e.getElementsByTagName(o),c=n[n.length-1],a=e.createElement(o),a.type="text/javascript",a.async=!0,a.id=s,a.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/fSoG2uP5pa2L2jEtaOjDo5WT7TC1Ilmc66DFHn4z8zylKF5Hfs0dlAzQJt60GmsE.js"].join(""),c.parentNode.insertBefore(a,c))})(window,document,"script","smcx-sdk");</script> -->
            </div>
        </div>
    </div>
</section>
