<section id="the_form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Das Spendenformular in Deiner Webseite</h2>
            </div>
            <div class="col-md-7 form-image-wrapper">
                <img src="img/form.png" alt="" />
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled with-leading-icons form-feature-list">
                  <li>
                    <i class="fa fa-check-circle icon-left"></i>
                    <h3>Anpassbares Design</h3>
                    <p class="text-muted">Das Spendenformular in den Farben Deiner Organisation</p>
                  </li>
                  <li>
                    <i class="fa fa-check-circle icon-left"></i>
                    <h3>Sicherheit</h3>
                    <p class="text-muted">Verlasse Dich auf sichere Datenübertragung (SSL/TLS)</p>
                  </li>
                  <li>
                    <i class="fa fa-check-circle icon-left"></i>
                    <h3>10 Jahre Erfahrung</h3>
                    <p class="text-muted">Profitiere von 10 Jahren geballter Erfahrung im Online Fundraising</p>
                  </li>
                </ul>

                <h3 style="margin-top: 100px">
                  Folgende Zahlungsmöglichkeiten stehen Deinen Spendern zur Verfügung:
                </h3>
                <ul class="list-unstyled list-horizontal text-center form-payment-list">
                  <li class="text-muted"><i class="fa fa-euro"></i><br />Sepa</li>
                  <li class="text-muted"><i class="fa fa-paypal"></i><br />PayPal</li>
                  <li class="text-muted"><i class="fa fa-cc-mastercard"></i><br />Kreditkarte</li>
                </ul>
            </div>
        </div>
    </div>
</section>
