<section id="the_form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <code>Image</code>
                <h2>Das Spendenformular in Deiner Webseite</h2>
            </div>
            <div class="col-md-12 col-offset-md-6">
                <ul class="list-unstyled">
                  <li>
                    <h3>Anpassbares Design</h3>
                    <p>Das Spendenformular in den Farben Deiner Organisation</p>
                  </li>
                  <li>
                    <h3>Sicherheit</h3>
                    <p>Verlasse Dich auf sichere Datenübertragung (SSL/TLS)</p>
                  </li>
                  <li>
                    <h3>10 Jahre Erfahrung</h3>
                    <p>Profitiere von 10 Jahren geballter Erfahrung im Online Fundraising</p>
                  </li>
                </ul>
                <h3>Folgende Zahlungsmöglichkeiten stehen Deinen Spendern zur Verfügung:</h3>
                <ul class="list-unstyled">
                  <li><code>Image</code>Sepa</li>
                  <li><code>Image</code>PayPal</li>
                  <li><code>Image</code>Kreditkarte</li>
                </ul>
            </div>
        </div>
    </div>
</section>
