/*body {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}*/

h3 {
  font-size: 20px;
  line-height: 26px;
  text-transform: none;
}

.header-logo {
  width: 220px;
}
nav .header-logo {
  margin-top: -20px;
}
.navbar-default,
.navbar-default.navbar-shrink {
  padding: 10px 0;
  background: white;
}
.navbar-default .nav li a {
  color: black;
}
header .intro-text .intro-heading {
  font-size: 45px;
}

#the_form {
  background: #bac746;
  padding-top: 100px;
  overflow: hidden;
  height: 1000px;
}
@media(max-width:768px) {
  #the_form {
    overflow: visible;
    height: auto;
  }
}
#the_form .form-image-wrapper {
  /*height: 865px;*/
  height: 765px;
}
@media(max-width:768px) {
  #the_form .form-image-wrapper {
    height: auto;
  }
}
#the_form h2 {
  margin-bottom: 50px;
}
#the_form .fa {
  color: white;
  font-size: 50px;
}
#the_form img {
  margin-left: -200px;
  width: 840px;
}
@media(max-width:768px) {
  #the_form img {
    margin-left: auto;
    width: 100%;
  }
}
#the_form .form-feature-list li {
  margin-top: 40px;
}
#the_form .form-feature-list .fa {
  font-size: 65px;
}
#the_form .form-feature-list h3 {
  font-size: 160%;
  margin-bottom: 5px;
}
#the_form .form-feature-list p {
  font-size: 130%;
  line-height: 170%;
}
#the_form .form-payment-list {
  font-size: 150%;
  line-height: 50px;
  margin-top: 40px;
}
#the_form ul.with-leading-icons li {
  position: relative;
  padding-left: 80px;
}
#the_form ul.with-leading-icons .icon-left {
  position: absolute;
  left: 0px;
  top: 0;
}
.list-horizontal {
  display: flex;
}
.list-horizontal li {
  flex: 1 1 0;
}

#survey iframe {
  height: 1400px;
}

@media(max-width:768px) {
  #survey iframe {
    height: 1700px;
  }
}

#contact *:not(.text-muted) {
  color: white;
}
#contact img {
  border-radius: 100%;
  border: 10px solid white;
  margin: 50px 0 30px 0;
}
